body{
	margin: 0;
}

.top_header{
	background-color: #222326;
	height: 45px;
	border-bottom: 1px solid #414346;  
}
.navbar-defaut{
	background: none;
	border:0;
}
.navbar-nav>li>a {
    padding-top: 12px;
    padding-bottom: 13px;
    color:white;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: #6f6f6f;
}



.main_header {
	height: 235px;
	background-color: #2d3034;
}
.logo{
	height: 130px;

}
.logo img{
	height: 120px;
	width: auto;
	
}


.main_nav_border{
	border-top: 2px solid #27292d;
	border-left: 2px solid #27292d;
	border-right: 2px solid #27292d;

}

.main_nav{
	height: 45px;
	border-top:1px solid #36393c; 

}

.main_nav .navbar-nav>li>a {
	color: #bebfc1;

}
